:root {
  --primary: #ff2929;
  --secondary: #292626;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.navigation {
  background-color: var(--primary);
  padding: 1rem 0rem;
  color: var(--secondary);
  padding: 2rem 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container-horizontal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.active {
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 40px;
}

.nav-link:hover {
  color: var(--primary);
  background: white;
}

img {
  width: 500px;
}

.title {
  font-size: 2rem;
  color: var(--primary);
}

.highlight {
  background: var(--primary);
  color: var(--secondary);
}

.padding-4rem {
  padding: 4rem;
}

.padding-1rem {
  padding: 1rem;
}

.heading {
  font-size: 1.6rem;
}

.paragraph {
  font-size: 1rem;
}
.secondary {
  background: var(--secondary);
  color: white;
}

.text-center {
  text-align: center;
}

.footer {
  margin-top: 60px;
  background-color: var(--primary);
  padding: 1rem 0rem;
  color: var(--secondary);
  padding: 2rem 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.btn-primary {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
}

.btn-color-1 {
  background-color: white;
  color: #292626;
  transition: all 0.5s ease;
}

.btn-color-1:hover {
  background-color: #292626;
  color: white;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.btn-color-2 {
  background-color: #292626;
  color: white;
  transition: all 0.5s ease;
}

.btn-color-2:hover {
  background-color: white;
  color: #292626;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
